#header{
    font-size: 40px;
    font-weight: 700;
    background-color: rgb(170, 20, 80);
    color: rgb(255, 255, 255);
    text-align: center;
}
* {
    font-family: 'Josefin Sans', sans-serif;
}



h1, h2, h3{
    font-weight: 600;
    color: rgb(170, 20, 80);
}

h1{
    font-size: 40px;
}

h2{
    font-size: 36px;
}

img{
    height: auto;
    width: 1000px;
}

h3{
    font-size: 28px;
}

h4{
    font-weight: 400;
}

h4,
p,
li{
    font-size: 24px;
}